
    <link rel="stylesheet" href="login/css/reset.css">
        <link rel="stylesheet" href="login/css/style.css">


<div class="container" ng-controller="login_crl">
  <div class="login">
  	<h1 class="login-heading">
      <strong>Welcome.</strong> Please login.</h1>
      <form method="post" ng-submit="login_sub()">
        <input type="text" name="user" placeholder="Username" required="required" class="input-txt" ng-model="credentials.username"/>
          <input type="password" name="password" placeholder="Password" required="required" class="input-txt" ng-model="credentials.password" />
          <div class="login-footer">
             <a href="#" class="lnk">
              <span class="icon icon--min">ಠ╭╮ಠ</span> 
              I've forgotten something
            </a>
             <button type="submit" class="btn btn--right">Sign in  </button>
    
          </div>
      </form>
  </div>
</div>

