


<hr>


<div class="content">
	<div class="container-fluid">
		<div class="row">
		<div class="col-lg-4 col-md-5">
			<div class="card card-user" >
			<div class="image"><img src="styles/img/background.jpg" alt="..."/></div>
				<div class="content">
					<div class="author">
					<img class="avatar border-white" src="styles/img/faces/face-2.jpg" alt="..."/>
					<h4 class="title">Chet Faker<br />
					<a href="#"><small>@chetfaker</small></a>
					</h4>
					</div>
					<p class="description text-center">"I like the way you work it <br>
													No diggity <br>
												I wanna bag it up"
					</p>
					<p>{{position}}</p>
				</div>
				<hr>
				<div class="text-center">
					<div class="row">
					<div class="col-md-3 col-md-offset-1">
						<h5>12<br /><small>Files</small></h5>
					</div>
					<div class="col-md-4">
						<h5>2GB<br /><small>Used</small></h5>
					</div>
					<div class="col-md-3">
						<h5>24,6$<br /><small>Spent</small></h5>
					</div>
					</div>
				</div>
			</div>

			<div class="card"  ng-controller="weather-ctr">
				<div class="content">
				<ul class="list-unstyled team-members">
					<li>
					<div class="row">
						<div class="col-xs-3">
							<div class="avatar"><img src="http://openweathermap.org/img/w/{{content.weather[0].icon}}.png"></div>
						</div>
					<div class="col-xs-6">
						{{content.name}}, {{content.main.temp}} C
						<br />
						<span class="text-muted"><small>{{content.weather[0].description}}</small></span>
					</div>
					<div class="col-xs-3 text-right">
						<btn class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
					</div>
					</div>
					</li>
				</ul>
				</div>
			</div>
</div>
			<div class="col-lg-8 col-md-7">
				<div class="card" ng-controller="userdataCtr">
					<div class="header"><h4 class="title">Edit Profile</h4></div>
				<div class="content">
				<form ng-submit="update_userprofile()" ng-controller="userupdateCtr">
					<div class="row">
					<div class="col-md-5">
                    	<div class="form-group">
                        	<label>My Company</label>
                        	<input type="text" class="form-control border-input" disabled placeholder="Company" value="Creative Code Inc.">
                    	</div>
					</div>
					<div class="col-md-3">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control border-input" placeholder="Username" value="michael23">
                                </div>
					</div>
					<div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control border-input" placeholder="Email" ng-model="userprofile.email">
                                </div>
					</div>
					</div>

					<div class="row">
						<div class="col-md-6">
                           <div class="form-group">
                              <label>First Name</label>
                              <input type="text" class="form-control border-input" placeholder="Company" ng-model="userprofile.name">
                           </div>
						</div>
						<div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Last Name" ng-model="userprofile.surname">
                                </div>
                            </div>
					</div>

					<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control border-input" placeholder="Home Address" ng-model="userprofile.address.address1">
                                </div>
                            </div>
					</div>

					<div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" class="form-control border-input" placeholder="City" ng-model="userprofile.address.city">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input type="text" class="form-control border-input" placeholder="Country" ng-model="userprofile.address.country">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Postal Code</label>
                                    <input type="text" class="form-control border-input" placeholder="ZIP Code" ng-model="userprofile.address.cap">
                                </div>
                            </div>
					</div>

					<div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" value="Mike">Oh so, your weak rhyme
									You doubt I'll bother, reading into it
									I'll probably won't, left to my own devices
									But that's the difference in our opinions.</textarea>
                                </div>
                            </div>
					</div> 
					
					<div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd" >Update Profile</button>
                     </div>
                     <div class="clearfix"></div>
             </form>
             <p>TEST: {{userprofile.name}}</p>
			</div>
		</div>
	</div>


            </div>
        </div>
	</div>
